* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    /* background: linear-gradient(135deg, #1e3c72, #ffffff); */
    background-color: white;
}

main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-logo {
    width: 60px;
    border-radius: 50px;
}

header {
    width: 100%;
    padding: 15px 30px;
    background: #547495;
    color: white;
    /* text-align: center; */
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.container {
    width: 400px;
    padding: 20px;
    background: rgb(223, 216, 216);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.drop-zone {
    border: 2px dashed #3498db;
    padding: 30px;
    border-radius: 10px;
    background: #ecf0f1;
    cursor: pointer;
    transition: 0.3s;
}

.drop-zone:hover {
    background: #d5e6f7;
}

.file-input {
    display: none;
}

.file-info {
    margin-top: 15px;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    display: none;
}

.custom-footer {
    background-color: #547495;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    font-size: 14px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.collaborators {
    margin-bottom: 10px;
}

.copyright {
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 12px;
}

.info-section {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    margin-top: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.info-section p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.info-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.info-section ul li {
    margin-bottom: 8px;
}

/* Margin and padding assets */
.mb-20 {
    margin-bottom: 20px;
}